<div  style="background:url('../assets/bg32.jpg') ;background-size:100%; width:auto; height:120vh;">
<div class="c">
    <br>
    <br>
    <span class="c2"> ANACONDA</span>
    <h4 class="c3">Bienvenue à l'Anaconda dédié au réseau  d'ISET ChARGUIA</h4>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>  <br>
    <a href="#" class="c1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        CONECTER
    </a>

    <a href="#" class="c1" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        S'INSCRIRE
    </a>
</div>